<div class="navbar-header">
  <h3 style="color: red">TinyApp&copy;</h3>
  <form action="/login" method="POST">
    <label><strong>Login</strong>
      <input id="username" type="text" name="username" placeholder="username" style="width: 150px">
    </label>
  </form>
</div>