<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <% include ./partials/_head %>
    <title>Unauthorized</title>
  </head>
  <body>
    <div>
      <h1>Oh no! I'm a teapot! Go <a href="/login">log in!</a></h1>
    </div>
    <img style="margin-left: auto; margin-right: auto; display: block; " class="displayed" src="https://d69dr897pi70n.cloudfront.net/images/blogs/3_main.jpg">
    </body>
</html>
