<% include ./partials/_head %>
<body>
  <header>
    <h3 style="color: red">TinyApp&copy;</h3>
    <p>Hi! Please login below. No password required.</p>
    <form action="/login" method="POST">
      <label><strong>Login</strong>
        <input id="username" type="text" name="username" placeholder="username" style="width: 150px">
        <input type="submit" value="Sign In">
      </label>
    </form>
  </header>
</body>
</html>