<% include ./partials/_head %>
  <body>
    <% include partials/_header %>
    <main>
    <form action="/urls" method="POST">
      <label for="longURL"><h1>Enter a URL</h1></label>
      <br>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Submit">
    </form>
    </main>
  </body>
</html>